# Python
__pycache__/
*.py[cod]
*.env
*.db
venv/
.env

# Node.js / React
node_modules/
dist/
build/
.env.local
.env.development
.env.production

# VS Code
.vscode/

# MacOS
.DS_Store

# System files
Thumbs.db
